/* Show it is fixed to the top */
body {

}

.scrollspy {
    position:relative;
    height:275px;
    overflow-y: scroll;
}

#dashboard {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}